/* src/components/ChatRoomList.css */

.room-list-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
  }
  
  .room-item {
    cursor: pointer;
  }
  
  /* Hover effect for list items */
  .room-item:hover {
    background-color: #f0f0f0;
  }
  